*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    display: block;
}

.bigBox{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}
header{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 100px;
}
.mainMenu{
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
}
.mainMenu>li{
    width: 150px;
    height: 30px;
}
.mainMenu>li:hover{
    background-color: pink;
}
.subMenu{
    display: none;
}
.subMenu:hover{
    background-color: skyblue;
}
.slide {
    width: 1200px;
    height: 300px;
}

.contents{
    width: 1200px;
    height: 200px;
    display: flex;
}
.notice{
    width: 400px;
    height: 200px;
}
.notice button {
    width: 80px;
    height: 30px;
    background-color: #7776AB;
    color: white;
}
.news{
    width: 400px;
    height: 170px;
}
.gallery{
    width: 400px;
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery img{
    width: 130px;
    height: 130px;

}
.banner{
    width: 400px;
    height: 200px;
}
.shortcut{
    width: 400px;
    height: 200px;
}
.footer{
    width: 1200px;
    height: 100px;
}

.modal {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    position: absolute;
    left: 35%;
    top: 35%;
    display: none;
}